
* {
  margin: 0;
  text-align: center;

}



/*
header, main, footer {
    background-color: #a3ddcb;
}


*/

header {
  background-color: #66BFBF;
  color:black;
  height: 60px;

}

main {
  background-color: #bce6eb;
  line-height: 2;


}
footer {
    background-color: #66BFBF;
    font-family: 'Londrina Solid', cursive;
    color: #11999E;
    line-height: 2rem;
}

hr {
  border-color:white;
  border-style:none;
  border-top-style: dotted;
  border-bottom: 30px;
  border-width: 8px;

  height: 2px;
  width: 5%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;

}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
      font-size: 1.2em;
}



a:link {
  text-decoration: underline;

}

nav {
text-align:right;
margin-right: 2rem;
}

/* ============== CLASS ============== */

.head {
padding-top: 3px;
}

.menu {
  text-align: right;
}

.myname, .title {
    font-family: 'Pacifico', cursive;
}
.title{
  padding-top: 20px;
  color:#66BFBF;
}

.mypic {
  padding-top: 1rem;
height:250px;

}

.pic {
  margin-top: 5rem;
}

.classcont {

  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2em;

}

.body2 {
  padding-top: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.greetings {
  padding-top: 10px;
  padding-bottom: 1px;
  font-family: 'Londrina Solid', cursive;
  font-size: 4.3em;
}

.greetings2 {
  font-family: 'Londrina Solid', cursive;
  font-size: 2.7em;
}

.greetings, .greetings2 {
  line-height: 1  ;
}

.myname {
  margin-top: 10px;
  font-size: 2.3em;

}

.cloud {
height: 80px;
width: 120px;
position: relative;
top: -220px;
}
.cloud2{
  height: 80px;
  width: 120px;
  position: relative;
    top: -100px;
}
.mountain{
position: relative;
height: 450px;
width: 500px;
}

.intro {
 text-align: center;
 display: inline-block;
}

.orderlist {
  text-align: center;
  display: inline-block;
}

.footer-link {
  font-family: 'Londrina Solid', cursive;
  color: #11999E;
}

.socialmedia {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2.2rem;
  position: relative;
  left:-2.5rem;
}

.thebody {
  margin-top: 1rem;
  margin-right:5rem;
  float: right;
}

/* ============== ID ============== */
#boy {
  height: 72px;
  position: absolute;
  left: 85px;
  top: 20px;
  background-color: #f8f7de;
  border-radius: 50%;

}

#boy:hover {

  background-color: black;
}


/* ============== Button ============== */


.abtn {
  color:black;
  font-family: 'Londrina Solid', cursive;
  font-size: 2rem;
}


/* ============== M A P ============== */
.map-wrapper {
  max-width: 500px;
  border: 5px solid #1687a7;
  text-align: center;
  display: inline-block;
}
 
.googlemap {
  width: 100%;
}
